<div class="jumbotron">
  <h1>Welcome to HitSNS!</h1>
  <p style="font-size:18px">
  	HitSNSは、大学生(の+による+のための)SNSです。
  	<br>講義やサークルなど学生生活をサバイブ＆エンジョイするための情報や、新しい友人との出会いが得られます！
  	<br>現在は一橋大学の学生が登録可能です。
  </p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>